/* OVERVIEW */

$overview_group_bg: darken($checked_bg_color, 10%);

.controls-manager, .secondary-monitor-workspaces {
  spacing: $base_padding * 2;
}

#overviewGroup {
  background-color: if($variant == 'light', $overview_group_bg, $system_bg_color);
}

.overview-controls {
  padding-bottom: 32px;
}
